<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863792011551-66fols7msi6d343dfo9r0819cgjqusm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863792011551-66fols7msi6d343dfo9r0819cgjqusm1</string>
	<key>API_KEY</key>
	<string>AIzaSyC56zjpc-xcIRHKBzMSrSfxiZ6NlXFJ4_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>863792011551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codershigh.GettingStartedWithFireStore</string>
	<key>PROJECT_ID</key>
	<string>blue-76bab</string>
	<key>STORAGE_BUCKET</key>
	<string>blue-76bab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863792011551:ios:9f8cb30739b4edd699382a</string>
	<key>DATABASE_URL</key>
	<string>https://blue-76bab.firebaseio.com</string>
</dict>
</plist>